#containerLogo{
    height:20rem;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
#logo{
    height: 10rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

#logo img {
    width: 100%;
    height: 100%;
}

#listeJeux {
    background-color: red;
    width: 80%;
}

.jeuDeMot span
{
	color: red;
}

.boutons{
    margin-top:2.5%;
    margin-bottom: 2.5%;
}
#boutonsMain{
    width:100%;
    height:100%;
    background-color: rgb(116, 35, 35);
}
.boutons::placeholder{
    opacity: 1;
}
.card{
    margin-top:5%;
}